
body {
  background-color: rgb(223, 215, 215);
}

#nav-1 {
  height:8vh;
}

/*Main container*/
#body-container {
  display: flex;
  height: 90vh; /* 87vh*/
  margin-bottom: 0px;
  flex-direction: column wrap;
  background-color: rgb(223, 215, 215);
}

/*All 3 Columns*/ 
.con-1, .con-2, .con-3 {
  display: flex;
  height: 100%; 
  margin-bottom: 0px;
  flex-direction: column wrap;  /* wraps the <p>s*/
}


/*COLUMN 1*/

/*Image for Col-1*/
#image { 
  flex-direction: column wrap;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*welcome header*/
h3 {  
  font-family: "Sofia", sans-serif;
  text-align: center;
  color:rgb(115, 61, 165);
  padding:14px;
}

/*Email Links*/
#links {
  display: flex;
  flex-direction: column wrap;
  flex-wrap: wrap;
  font-family: "Trirong", serif;
  height:35vh;
  width:auto;
  justify-content: space-evenly; 
  align-items: baseline;
  margin:45px; /*adds space between links and img*/
}


/* mouse over link */
a:hover {
  color: rgb(228, 12, 120);
 } 




/*COLUMN 2.1*/
#col-2-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color:rgb(214, 204, 204);  
  justify-content: flex-start;
  word-wrap: break-word;
}

/*Keeps "Inbox" text color black instead of default blue*/
#inbox-view {
  color:rgb(36, 35, 36);
  font-family: cursive;
}

/*Email Links BVT + Canva + LinkedIn + NoReply*/
#email-box{
  color:gray;
  word-wrap: break-word;
  padding-top: 5px;
  margin:15px;
}
/*End Of Column 2.1*/





/*Column 2.2*/
#col-2-2 {
  background-color: rgb(249, 225, 203);
} 

#heading {
  padding:10px; 
  word-wrap: break-word; 
  color:black;
  background-color: rgb(246, 247, 248);
}

/*adds space between email and date*/
#date {
  font-size: 12px;
  margin:150px;
}

#view-box {
  word-wrap: break-word; 
  padding:4%;
  color:black;
  background-color: rgb(246, 247, 248);
  padding-bottom: 85px;
  margin:auto;
}
/*End of Column 2.2*/






/*Footer*/
#column-footer {
  display: flex;
  height:5vh;
  background-color:rgb(163, 160, 160);
  color:white;
  font-size:14px;
  padding:0px;
  margin:0px;
}
  

  
  
  